
.objectType_donkey:before {
	position: absolute;
    left: 35px;
	top: 24px;
	display: block;
	height: 51px;
	width: 50px;
	z-index:10000000;
	background: url(../img/sprites/keeper_handspell_anim.gif) 0 0 no-repeat;	
}