body {
    background:#000;
    color:#fff;
    font-family: Arial, serif;
	cursor: url("../img/cursor.png"), auto;
}

div#minimapcontainer {
    position: absolute;
    top: 30;
    left: 15;
    opacity: 0.3;
    width: 126px!important;
    height: 110px!important;
}
canvas#minimap {
    position : absolute;
    width: 126px!important;
    height: 110px!important;
}
canvas#minimapobjects {
    position : absolute;
    width: 126px!important;
    height: 110px!important;
}

div#overlay {
    position : absolute;
    width : 800px;
    height : 600px;
    padding : 5px;
    color : white;
    font-family : lucida console, courier new;
    font-size : 10px;
    z-index : 10001;
}

div#floor {
    position : absolute;
    width : 100%;
    height : 100%;
    background-color : rgb(128,128,128);
    z-index : -10000000;
}

div#ceiling {
    position : absolute;
    width : 800px;
    height : 300px;
    background: url(../img/textures/sky.jpg) repeat-x;
    z-index : -10000000;
}


#screen {
    position : relative;
    width : 800px;
    height : 600px;
    border : 1px solid black;
    overflow : hidden;
    margin: 2% auto;
}

#party {
    position : absolute;
    right: 20px;
}

#party .one {
    font-size: 12px;
    margin: 10px;
    width: 100px;
}

#party .one img {
    width: 90px;
}

#party .one .name {
    font-size: 16px;
    margin-right: 10px;
}

#party .master .portret {
	border: 2px solid orange;
	box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

#party .portret {
	border: 2px solid grey;
	box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

#party .noconnect .portret {
	border: 2px solid red;
	box-shadow: 0px 1px 5px 1px rgba(150, 50, 50, 0.8);
	opacity: 0.3;
	filter: alpha(opacity=30);
}

#ui {
    z-index: 110000000;
    position : absolute;
    top: 500px;
    height:100px;
    width: 100%;
    padding: 15px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.9) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.9)), color-stop(100%,rgba(0,0,0,0.9))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.9) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.9) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.9) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.9) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6000000', endColorstr='#e6000000',GradientType=0 ); /* IE6-9 */
}
#ui .portret {
    float:left;
    margin-right: 15px;
}
#ui span {
    font-size: 12px;
}

#ui .name {
    font-size: 20px;
    margin-right: 15px;
    width: 80px;
}

#ui .but {
    padding: 12px 5px 0 20px;
}

#ui .but a {
    margin-right: 10px;
}

#ui select {
    margin: 10px 0;
}

#ui .action {
    width: 140px;
}

#ui .ready {
    margin: 20px 30px 0 5px;
    font-size:25px;
}

.left {
    float:left;
}

.right {
    float:right;
}

.yel {
    color:#EEDD82;
}

#playersinfo {
    position: absolute;
    bottom: 90px;
    right: 0px;
    color: #ffffff;
    display: block;
    width: 150px;
    height: 20px;
    padding: 10px;
    font-size: 11px;
    text-align: right;
}

#chat {
    position: absolute;
    bottom: 90px;
    color: #ffffff;
    display: block;
    width: 250px;
    height: 90px;
	padding: 10px;
	font-size: 13px;
}

#chat .red {
	color: #ff0000
}

#chat .blue {
	color:#6666ff
}

#chat .green {
	color:#66cc33
}

#choose {
	background-image: url(../img/menuback.png), url(../img/fog.jpg);
	background-position: 150px 80px, 0 0;
	background-repeat: no-repeat, repeat-x;
	position: absolute;
	overflow: hidden;
	padding: 80px 150px 190px 150px;
	color: #ffffff;
	display: none;
	width: 500px;
	height: 330px;
	text-align: center;
	z-index: 111111111;
	-webkit-animation: animatedfog 15s linear infinite;
	animation: animatedfog 15s linear infinite;
}

@-webkit-keyframes animatedfog {
	from { background-position: 150px 80px, 0 0; }
	to { background-position: 150px 80px, 100% 0; }
}

@keyframes animatedfog {
	from { background-position: 150px 80px, 0 0; }
	to { background-position: 150px 80px, 100% 0; }
}

#choose .cyc {
	font-size: 16px;
	padding-top: 44px;
	padding-bottom: 35px;
	display: block;
}

.enabledmorda {
    opacity: 0.75;
    cursor: default;
    margin: 1px;
}
.enabledmorda:hover
{
    opacity: 1;
    cursor: default;
    border: 1px solid red;
    margin: 0;
	box-shadow: 0px 0px 18px 0px rgba(200, 0, 0, 0.7);
}

.disabledmorda {
    opacity: 0.2;
}

/**
 * Animation
 */
#animation {
	position: absolute;
    top: 100px;
	left: 250px;
    color: #ffffff;
	display: none;
    width: 300px;
    height: 300px;
	z-index : 11111111;
}
	
	
